{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body style="background-image: url('{% static "images/wp2553457.jpg"%}');">
    <center>
        <h1>FRIENDS FOREVER</h1>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. At necessitatibus iste ullam quasi quisquam aliquid, vero voluptates magnam ipsum corrupti commodi, explicabo placeat, fugit est esse fugiat. Sed, facilis beatae?</h2>
    </center>
</body>
</html>